/* @import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:100,300,400,500,700,800,900,500italic,400italic,100italic,900italic,300italic,700italic,800italic); */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  color: rgb(31, 31, 31);
  font-family: Alegreya Sans, serif;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: Alegreya Sans, serif;
  font-family: 'Open Sans', sans-serif;
  /* color: #15d880; */
  font-size: 3.5rem;
  font-weight: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-family: 'Open Sans', sans-serif;
}
