.edit_main {
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    perspective: 1px;
    perspective-origin: center top;
    transform-style: preserve-3d;
  
    .edit_section {
      min-height: 100vh;
      background: white;
      transform: translateZ(0);
      width: 100%;
      color: rgb(31, 31, 31);
  
      .edit_main_wrapper {
        display: flex;
        justify-content: center;
  
        a:hover {
          text-decoration: underline;
        }
  
        .edit_article_wrapper {
          margin-top: 30px;
          align-items: center;
          width: 994px;
  
          a {
            color: blue;
          }
        }
      }
      footer{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 50px;
        text-align: center;
    }
    }
  }
  
  