nav {
  min-height: 60px;
  //   background: rgb(226, 226, 226);
  transform: translateZ(0);
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2resm;
  color: rgb(148, 141, 247);
  background-color: rgb(70, 69, 69);

  -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.32);

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 994px;

    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    .logo {
      height: 40px;
    }
  }
}

a {
  text-decoration: none;
  color: rgb(148, 141, 247);
}

.header_link {
  text-transform: capitalize;
  color: rgb(148, 141, 247);
}

button.logout_button {
  font-size: 1em;
  color: rgb(148, 141, 247);
  background-color: rgb(70, 69, 69);
}

button.logout_button:focus {
  outline: none;
}

button.logout_button:hover {
  text-decoration: underline;
  cursor: pointer;
}
