.nav_wrapper {
  min-height: 60px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(204, 177, 89);

  .category{

    a {
        color: rgb(204, 177, 89);
      
        &hover {
          text-decoration: underline;
        }
      }
  }
}
