.nav_wrapper {
  min-height: 60px;
  padding: 10px 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgb(70, 69, 69);

  .category {
    a {
      color: rgb(204, 177, 89);
      display: block;
      // font-size: 1.2em;
      margin-left: 2em;

      &hover {
        text-decoration: underline;
      }
    }
  }
}
