/**************************************************/
  
$image_signin: "https://images.unsplash.com/photo-1579258151288-d08bd3f91e88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3890&q=80";

/**************************************************/

.signup_main {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;

  .signup_header {
    height: 50vh;
    background: url($image_signin);
    background-size: cover;
    background-position: center center;
    position: relative;
    vertical-align: top;
    transform-origin: center top;
    transform: translateZ(-#{0.5 * 2}px) scale(1 + 0.5 * 2);
  }

  .signup_section {
    min-height: 100vh;
    background: white;
    transform: translateZ(0);
    width: 100%;
    color: rgb(31, 31, 31);

    .signup_main_wrapper {
      display: flex;
      justify-content: center;
    }
  }
}
