/**************************************************/

$image_signin: 'https://images.unsplash.com/photo-1520132108877-a600a22e602a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80';

/**************************************************/

.signin_main {
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;

  .signin_header {
    height: 50vh;
    background: url($image_signin);
    background-size: cover;
    background-position: center center;
    position: relative;
    vertical-align: top;
    transform-origin: center top;
    transform: translateZ(-#{0.5 * 2}px) scale(1 + 0.5 * 2);
  }

  .signin_section {
    min-height: 100vh;
    transform: translateZ(0);
    width: 100%;
    color: #fff;
    background-color: rgb(70, 69, 69);

    .signin_main_wrapper {
      display: flex;
      justify-content: center;
      background-color: rgb(70, 69, 69);
    }
  }
}
